

:root {
  --bg: #e7e7e7;
  --bg2: #333138;
  --font: "Poppins", sans-serif;
  --hotpink: #e94057;
  --orange: #f27121;
  --gradient: linear-gradient(35deg, var(--orange), var(--hotpink));
  --fontColor: #333138;
  --fontColor2: rgb(227, 247, 254);
}


html{
  font-size: 62.5%;
  box-sizing: border-box;
}
  

*, *:before, *:after {
  box-sizing: inherit;
}
  

body {
  margin: auto;
  min-height: 100vh;
  background: var(--bg);
  font-family: var(--font);
}

/* TRUCO PARA DISTRIBUIR EL CONTENIDO */
.container {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}


/* UTILIDADES ========= */
.ocultarTituloButton {
  display: none;
}

.mostrar {
  display: flex;
}


@media (width <= 480px) {

  body .cabecera{
    display: flex;
    align-items: center;
    text-align: center;
  }

  .contadores{
    display: flex;
    gap: 1rem;

    .contador-item{
      margin: 0;
    }

  }

  body .cabecera-titulo {
    font-size: 1.5rem;
  }

  body .cabecera-num {
    font-size: 3rem;
  }
  

  main{
    margin-top: 5rem;
  }
  
}